@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5ba0e0;
  --secondary: #7030cc;
  --white: #ffffff;
  --black: #000000;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--black);
  line-height: 1;
  overflow-x: hidden;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-color: var(--secondary);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 5rem;
}

.logo {
  height: 3.8rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.4rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--white);
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--primary);
  border-bottom: 1px solid var(--white);
}

.btn {
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: var(--white);
  background-color: var(--primary);
}

.hero {
  max-width: 115rem;
  margin: -2rem auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-box {
  max-width: 48rem;
  margin-top: -5rem;
}

.hero-text-box h1 {
  font-size: 5.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.1;
  color: var(--white);
  margin-bottom: 2rem;
}

.hero-text-box p {
  font-size: 1.4rem;
  color: var(--white);
  line-height: 1.3;
  margin-bottom: 2.6rem;
}

.hero-right img {
  width: 61rem;
}

.section-features {
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.features-left img {
  height: 45rem;
}

.features-right {
  width: 35rem;
}

.features-right h2 {
  font-size: 2.6rem;
  line-height: 1.3;
  margin-bottom: 4rem;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  width: 27rem;
}

.feature-list-item {
  list-style: none;
}

.feature-list-item h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.feature-list-item p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}

.feature-cards-section {
  text-align: center;

  padding-bottom: 5rem;
}

.feature-cards-section h2 {
  font-size: 2.8rem;
  line-height: 1.2;
  /* text-align: center; */
  max-width: 35rem;
  margin: 0 auto 3rem auto;
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.feature-card {
  max-width: 22rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 1px 3px 1px rgba(215, 215, 215, 255);
  transition: all 0.33s;
}

.feature-card:hover {
  box-shadow: 2px 1px 5px 2px rgba(215, 215, 215, 255);
}

.feature-card:hover .card-description {
  background-color: var(--secondary);
  color: var(--white);
}

.card-img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-1 {
  background-color: #faeaeb;
}

.card-2 {
  background-color: #faf1e8;
}

.card-3 {
  background-color: #e9f4f6;
}

.card-4 {
  background-color: #f2e7f5;
}

.card-img img {
  width: 5rem;
}

.card-description {
  padding: 0.8rem 1.6rem;
  border-radius: 2rem;
  transition: all 0.33s;
}

.card-description h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

.card-description p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-top: 0.2rem;
}

/* 1200px */
@media screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }

  .hero {
    gap: 4rem;
    margin-top: 2rem;
  }

  .hero-right img {
    width: 55rem;
    margin-top: -2rem;
  }
}

@media screen and (max-width: 1030px) {
  html {
    font-size: 50%;
  }

  .hero {
    gap: 8rem;
  }

  .hero-right img {
    width: 52rem;
    margin-top: -3rem;
  }
}

@media screen and (max-width: 944px) {
  .header {
    height: 75rem;
  }

  .hero {
    gap: 8rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-right img {
    width: 40rem;
    margin-top: -3rem;
  }

  .hero-left {
    text-align: center;
  }

  .hero-text-box {
    max-width: 87rem;
    text-align: center;
    padding: 0 3rem;
  }

  .hero-text-box h1 {
    font-size: 4rem;
  }

  .section-features {
    gap: 4rem;
  }

  .feature-cards {
    flex-wrap: wrap;
  }

  .features-left img {
    height: 40rem;
  }
}

@media screen and (max-width: 660px) {
  .header {
    height: 82rem;
  }
  .navigation {
    flex-direction: column;
  }

  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 2.6rem;
  }

  .section-features {
    flex-direction: column;
  }
}
